/* Open Sans Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700&display=swap');

/* Default Styling */
.bg-color {
  background-color: #232741;
}
body, html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

/* Header Styling */
section#header {
}
.container.p-3.profile-box {
  -webkit-box-shadow: 0px 4px 7px -3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 7px -3px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 7px -3px rgba(0,0,0,0.3);
}
.container.p-3.profile-box {
  max-width: 940px !important;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.img-profile img {
  width: 100%;
}
.profile-detail p {
  text-align: justify;
}
.social-wrapper ul {
  padding: 0;
}
.social-wrapper ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px 0 0;
}
.social-wrapper ul li a {  
  font-size:18px;
  border-radius: 50%;
  border: solid #212529;
  color: #212529;
  line-height: 32px;
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
  transition:0.5s;
}
.social-wrapper ul li a:hover {
  border: solid #232741;
  color: #fff;
  background-color: #232741;
}
.profile-detail h4 {
  font-weight: 300;
}

/* Experience Styling */
section#experience {
  padding-top: 50px;
}
.container.experience-box {
  max-width: 940px !important;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
}














/* Responsive Styling */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container.p-3.profile-box {
    width: 95%;
    position: relative;
    top: 10px;
    left: 0;
    transform: none;
  }
  .img-profile {
    text-align: center;
    margin-bottom: 20px;
  }
  .profile-detail h1,
  .profile-detail h4 {
    text-align: center;
  }
  .profile-detail h1 {
    font-size: 32px;
  }
  .profile-detail h4 {
    font-size: 16px;
  }
  .profile-detail p {
    text-align: justify;
  }
  .social-wrapper {
    text-align: center;
  }

  /* Experience Styling */
  .container.experience-box {
    width: 95%;
  }
}